body {
    padding-top: 50px;
}
.name {
    font-size: 100px;
}

.header-name {
    height: 500px;
    width: 100%;
    text-align: center;
    position: relative;
}
.header-name-a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

}

.profile {
    height: auto;
}
.h2, .p {
    text-align: center;
}

.skills {
    height: auto;
}
.skills-list {
    text-align: center;
}

.fab {
    font-size: 100px;
}
.works {
    height: auto;
}
.works-image {
    width: 100%;
    height: 450px;
}

.contact {
    height: 200px;
}

footer {
    height: 50px;
}



html, body {
    scroll-padding-top: 50px;
  }




  @media (max-width: 780px) {
      .name {
          font-size: 70px;
      }
  }