body {
    padding-top: 100px;
}
.name {
    font-size: 100px;
}

.header-name {
    height: 500px;
    text-align: center;
}

.profile {
    height: 500px;
}
.h2, .p {
    text-align: center;
}

.skills {
    height: 500px;
}
.skills-list {
    text-align: center;
}

.fab {
    font-size: 100px;
}
.works {
    height: 500px;
}
.works-image {
    width: 100%;
    height: 400px;
}

.contact {
    height: 500px;
}





html, body {
    scroll-padding-top: 60px;
  }
