@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .main {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .side {
        float: none;
        width: 95%;
        margin: 0 auto;
    }

}

@media (max-width: 1000px) and (min-width: 800px) {
    .main {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .side {
        float: none;
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .main {
        float: none;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .side {
        float: none;
        width: 95%;
        margin: 0 auto;
    }
    .contents {
        display: none;
    }  

}




@media (min-width: 800px) {
    .Toggle{
        display: none;
    }


    .menu{
        width: 100%;
        font-size:0.9em;
        background-color: transparent;
        margin:0 10px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: none;
    }
    .menu ul{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .menu ul li a{
        padding: 0 1em;
        border-bottom: none;
    }
    .menu ul li a:hover{
        background-color:transparent;
    }
    
}