body {
    padding: 0;
    margin: 0;
   
}

.container {
    padding: 0;
    margin: 0;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: #666;
}



/*ここからヘッダー*/
.header {
    border-top: 5px solid blue;

}
.h-top {
    padding:  0 40px;
    color: #0e37d0;
}
.contents {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 6px -3px #000000 inset;
    font-size: 1rem;
}
.contents__inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contents ul {
    height: 100%;
    display: flex;
    padding: 0 0;
}
.contents li {
    flex: 1 1;
    position: relative;
    display: flex;
}
.contents li::after {
    content: "";
    display: block;
    width: 2px;
    height: 70px;
    background-color: #b8b9dc;
    position: absolute;
    right: -1px;
    top: 0px;
}
.contents li:last-child::after {
    content: none;
}
.contents a {
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 0 20px;
}
.contents a:hover span {
    color: blue;
    position: relative;
}
.contents a:hover span::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    bottom: 0;
    background-color: blue;
    border-radius: 5px;
}
.contents span {
    display: flex;
    align-items: center;
    word-break: keep-all;
}
.contents a {
    color: inherit;
    text-decoration: none;
}
nav ul li{
    list-style: none;
}
.top_2 {
    width: 100%;
    height: 500px
}


/*ここからがメイン*/
.main {
    float: left;
    width: 70%;
    line-height: 2em;
    padding: 0 30px;
}
.main a {
    color: #666;
}
.main a:hover {
    color: blue;
    text-decoration: none;
    transition: .2s;
}
.main p {
    padding: 0 0 0 20px;
}
.p_1 {
    margin-top: .5em;
}




/*ここからsection_1*/
h2 {
    color: white;
    background-color: #0e37d0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 10px;
    margin: 30px 0 0 0;
}
.h2_1 {
    padding: 0 10px;
}
.section_1 li {
    border-bottom: 1px solid #cccccc;
}
li {
    list-style: none;
}
.blue {
    color: blue;
    margin: 0 20px 0 0;
}
.section_1 p {
    text-align: right;
}

.section_1 ul {
    padding-inline-start: 0;
    padding: 0 0 0 20px;
}


/*ここからsection_2*/
h3 {
    background-color: #f5f5f5;
    border-radius: 5px;
    font-weight: 100;
    padding: 5px 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
}
.red {
    color: red;
}
.section_2 p {
    margin: 0;
}


/*ここからサイド*/
.side {
    float: right;
    width: 25%;
}
/* ******************************************************************* */
.side_1 {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 15px 10px;
}

h4 {
    color: #666;
    background-color: #eee;
    padding: 20px 5px;
    margin: 0;
    border-top: 5px solid blue;
    border-bottom: 1px solid #d2d2d2;
}
.side_1 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #f4f4f4;
}
.side_1 li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #666;
}
.side_1 li {
    border-bottom: 1px solid #d2d2d2;
}
.side_1 a:hover {
   color: blue;
   background-color: #fff;
   transition: .5s;
}
/* ****************************************************************** */
.side_2 {
    padding: 10px;
    margin: 15px 10px;
}

.side_2 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.side_2 li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #666;
}
.side_2 li {
    border-bottom: 1px solid #d2d2d2;
}
.side_2 a:hover {
   color: blue;
   transition: .5s;
}
/* ****************************************************************** */
.side_3 {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 15px 10px;
}
.side_3 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.side_3 li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #d2d2d2;

}
.side_3 li {
    font-size: 10px;
}
.side_image {
    width: 50px;
    height: 30px;
    float: left;
    padding: 0 5px 5px 0;
}
.side_3 a:hover {
    color: blue;
    background-color: #fff;
    transition: .5s;
 }

/* ****************************************************************** */
.side_4 {
    padding: 10px;
    margin: 15px 10px;
}
.side_4 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.side_4 li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #d2d2d2;

}
.side_4 li {
    font-size: 10px;
}
.side_image {
    width: 50px;
    height: 30px;
    float: left;
    padding: 0 5px 5px 0;
}
.side_4 a:hover {
    color: blue;
    background-color: #fff;
    transition: .5s;
 }
/* ****************************************************************** */
.side_5 {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 15px 10px;
}
.side_5 p {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
}
.side_5_p_big {
    color: #666  
}
.side_5_p_small {
    font-size: 5px;
}


/*ここからフッター*/
.footer {
    background: #0e37d0;
    float: left;
    width: 100%;
}
.footer p {
    text-align: center;
    font-size: 13px;
}


/* ****************************************************************** */
/* ****************************************************************** */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0 0;
}
th, td {
    border: solid 1px #ccc;
    height: 3em;
}
th {
    width: 20%;
    font-weight: 100;
}
td {
    padding: 0 20px;
}
.th_top {
    text-align: left;
    padding: 0 20px;
}
.td_1 {
    padding: 20px;
}


/* ****************************************************************** */
/* ****************************************************************** */
.pege_3_menu {
    margin-bottom: 2em;
}
.pege_3_menu ul {
    background-color: #f4f4f4;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pege_3_image {
    width: 170px;
    height: 120px;
    float: left;
    padding: 15px;
}
.pege_3_menu li a {
    display: block;
    text-decoration: none;
    color: #666;
    border: 1px solid #d2d2d2;
    height: 150px;
}
.pege_3_menu li {
    font-size: 20px;
}
.pege_3_menu a:hover {
    color: blue;
    background-color: #fff;
    transition: .5s;
 }

/* ****************************************************************** */
.pege_3_1_menu {
    margin-bottom: 2em;
}
.pege_3_1_menu ul {
    background-color: #f4f4f4;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pege_3_1_image {
    width: 170px;
    height: 120px;
    float: left;
    padding: 15px;
}
.pege_3_1_menu li a {
    display: block;
    text-decoration: none;
    color: #666;
    border: 1px solid #d2d2d2;
    height: 300px;
}
.pege_3_1_menu li {
    font-size: 20px;
}
.pege_3_1_menu a:hover {
    color: blue;
    background-color: #fff;
    transition: .5s;
 }

 /* ****************************************************************** */
 .pege_3_2_menu {
    margin-bottom: 2em;
}
.pege_3_2_menu ul {
    background-color: #f4f4f4;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pege_3_2_menu li a {
    display: block;
    text-decoration: none;
    color: #666;
    border: 1px solid #d2d2d2;
    height: 100px;
    padding: 20px 0 0 20px;
}
.pege_3_2_menu li {
    font-size: 20px;
}
.pege_3_2_menu a:hover {
    color: blue;
    background-color: #fff;
    transition: .5s;
 }

/* ****************************************************************** */
.pege_3_3_menu {
    margin-bottom: 2em;
}
.pege_3_3_menu ul {
    background-color: #f4f4f4;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 20px 0 0 20px;
    list-style-type: none;
    border: 1px solid #d2d2d2;
}
.pege_3_3_menu li {
    font-size: 20px;
}

/* ****************************************************************** */
/* ****************************************************************** */
.submit {
    display: block;
    margin: 20px auto;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}
.submit:hover {
    background: linear-gradient(#fff,blue)
}





/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */




.toggle {
    display: none;
    position: fixed;
    width: 42px;
    height: 42px;
    cursor: pointer;/*カーソルが乗ったらポインターに変化させる*/
    z-index: 3;
    right: 15px;
}
 
.toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 3px #333;/*ボーダーで実装*/
    -webkit-transition: 0.2s ease;/*変化の速度を指定*/
    -moz-transition: 0.2s ease;	/*変化の速度を指定*/
    transition: 0.2s ease;	/*変化の速度を指定*/
}
 
/*三本ラインを少しずつずらしていきます。*/
.toggle span:nth-child(1) {
    top:5px;
}
 .toggle span:nth-child(2) {
    top: 18px;
}
 .toggle span:nth-child(3) {
    top: 32px;
}


.menu ul li a {
    display: block;
    font-weight: bold;
    padding: 2em;
    border-top: 1px dotted #ccc;
    color: #333;
    text-decoration: block;
}
.menu ul li:last-child {
    border-bottom: 1px dotted #ccc;
}
.menu ul li a:hover {
    background-color: rgba(0,0,0,0.5);
    color: blue;
}

.menu {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    transition: 0.5 ease;
    display: block;
    
}
.menu ul {
    padding: 0;
}

.menu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
